body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('IMG_4532.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid white;
}

.nombre-usuario {
    color: white;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

/* Botones con efecto Glassmorphism */
.boton {
    display: flex; /* Cambiado a flex para alinear imagen y texto */
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2); /* Transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    color: white;
    padding: 12px;
    margin: 12px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.boton:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Estilo para las miniaturas dentro de los botones */
.icono-boton {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover; /* Asegura que la foto no se deforme */
}

.separador {
    color: white;
    font-weight: bold;
    margin: 25px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9rem;
}
